h1{
    font-size: 50px;
    color: rgb(255, 240, 170);

}
h2{
    font-size: 38px;
    color: rgb(255, 240, 170);

}
p{
    font-size: 25px;
    color: rgb(255, 240, 170);

}
body{
    background-color: powderblue;

}
img{
    height: 250px;
    width: 200px;
}
main{
    widows: 1900px;
    background-color: rgb(161, 161, 161);
}
footer{
    background: rgb(129, 66, 66);
}