* {
    box-sizing: border-box;
}
main{
    background:whitesmoke;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
  background-color: #111;
}

section{
    float: left;
    background-color:#3DE070;
    width: 25%;
    margin: auto;
}
aside{
    float:right;
    background-color: #007BFF;
    width: 25%;
}
article{
    background-color: #FFA1EF;
    float: left;
}
article:after{
    content: "";
    display: table;
    clear: both;
}
footer{
    background-color: #FFD000;
    clear: both;
}
img{
    height:256;
    width:220.5;
}